<div class="container-fluid content-class">
		<div class="row">
			<div class="col-md-7 style-5 section-top-padding setion-border-bottom right-border left-border">
				<div class="row login-page-block-title">
					<div class="col-md-12">
						<h3 class="text-align-center w3-myfont"><u>Cash addition for game</u></h3>
					</div>
				</div>
				<div class="alert-msg">*{alert-msg}*</div>
				<form id="myForm" action="" method="POST" class="contact-form" enctype="multipart/form-data">

					<div class="form-group text-align-center">
						<label for="transfer" class="w3-myfont-bold">Amount</label>
						<input type="text" name="transfer" id="transfer" placeholder="Enter Amount" class="form-control input-style" value="*{transfer}*" onkeypress="return validateFloatKeyPress(this,event);">
					</div>

					<div class="form-group text-align-center">
						<input type="submit" name="submit"  class="btn btn-primary button-style w3-myfont" value="Add">
					</div>
				</form>
			</div>
			<div class="col-md-5 style-5 setion-border-bottom" style="padding-left: 0px;">
				<br><img src="*{ASSET_LINK}*images/4.png" style="width: 100%;">
			</div>
		</div>