	<div class="container-fluid content-class">
		<div class="row">
			<div class="col-md-7 style-5 section-top-padding setion-border-bottom right-border left-border">	
				
				<div class="row img-container">
					<ul class="col-md-12 single-line-list">
						<li class="img-center">
							<a href="dashboard.php"><img src="*{ASSET_LINK}*images/home.png"alt="Home" class="image-width-full"></a>
						</li>
					</ul>
				</div>
				<div class="row img-container">
					<ul class="col-md-12 single-line-list">
						<li class="img-center">
							<a href="myAccount.php"><img src="*{ASSET_LINK}*images/myaccount.png"alt="My Account" class="image-width-full"></a>
						</li>
					</ul>
				</div>
				<div class="row img-container">
					<ul class="col-md-12 single-line-list">
						<li class="img-center">
						<a href="game.php">
							<img src="*{ASSET_LINK}*images/Upcoming Contest.png"alt="Upcoming Contests" class="image-width-full"></a>
						</li>
					</ul>
				</div>
				<div class="row img-container">
					<ul class="col-md-12 single-line-list">
						<li class="img-center">
						<a href="joined_game.php">
							<img src="*{ASSET_LINK}*images/Joined Contest.png"alt="Joined Contests" class="image-width-full"></a>
						</li>
					</ul>
				</div>
				
				<div class="row img-container">
					<ul class="col-md-12 single-line-list">
						<li class="img-center">
						<a href="running_contest.php">
							<img src="*{ASSET_LINK}*images/Running Contest.png"alt="Running Contests" class="image-width-full"></a>
						</li>
					</ul>
				</div>
				<div class="row img-container">
					<ul class="col-md-12 single-line-list">
						<li class="img-center">
						<a href="contest_over.php">
							<img src="*{ASSET_LINK}*images/Completed Contest.png"alt="Completed Contests" class="image-width-full"></a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="col-md-5 style-5 setion-border-bottom" style="padding-left: 0px;">
				<img src="*{ASSET_LINK}*images/2.png" style="width: 100%;">
			</div>
		</div>
					