<tr>
	<td>
		<div class="row contest-inf-pad">
			<div class="col-md-6">
				<div class="label-text-context">Platinum: *{platinum}*</div>
			</div>
			<div class="col-md-6 float-right">
				<div class="label-text-context">Diamond: *{diamond}*</div>
			</div>
		</div>

		<div class="row contest-inf-pad bg-contest-inf-pad">
			<ul class="col-md-12 single-line-list">
				<li class="col-md-4">TEAM-*{team_id}*</li>
				<li class="col-md-8"><a href="game_edit_team.php?contest_id=*{contest_id}*&team_id=*{team_id}*" class="btn btn-info">View and Modity Selection</a></li>
			</ul>
		</div>


	</td>
</tr>