<tr>
	<td>
		<div class="row contest-inf-pad">
			<div class="col-md-6">
				<div class="label-text-context">Contest Final Prize Pool</div> *{contest_final_prize_pool}*
			</div>
			<div class="col-md-6">
				<div class="label-text-context">Contest Name</div> *{contestName}*
			</div>
			<div class="col-md-6">
				<div class="label-text-context">No of Teams</div> *{no_of_teams}*
			</div>
		</div>
		<div class="row contest-inf-pad">
			<div class="col-md-12"><a href="view_result.php?contest_id=*{view_result_id}*" class="btn btn-info">View Result</a></div>
		</div>
	</td>
</tr>