<div class="container-fluid content-class">
		<div class="row">
			<div class="col-md-7 style-5 section-top-padding setion-border-bottom right-border left-border">
				<!--<div class="row login-page-block-title">
					<div class="col-md-12">
						<h3 class="text-align-center w3-myfont"><u>Social Login</u></h3>
					</div>
				</div>
				<div class="row social-img-size">
					<div class="col-md-6 top-buffer">
						<a href="*{FB-LOGIN}*"><img src="*{ASSET_LINK}*images/social_fb.png" class="rounded img-fluid"></a>
					</div>
					<div class="col-md-6 top-buffer">
						<a href="*{GOOGLE_LOGIN}*"><img src="*{ASSET_LINK}*images/social_gp.png" class="rounded img-fluid"></a>
					</div>
				</div>-->
				<!--<div class="row login-page-block-title">
					<div class="col-md-12">
						<h3 class="text-align-center w3-myfont text">OR</h3>
					</div>
				</div>
				<br>
				<div class="row login-page-block-title">
					<div class="col-md-12">
						<h3 class="text-align-center w3-myfont"><u>Mobile OTP Login</u></h3>
					</div>
				</div>
				<div class="row login-page-block-title">
					<div class="col-md-12">
						*{alert-msg-otp}*
					</div>
				</div>
				<form method="POST" action="" enctype="multipart/form-data">
					<div class="form-group text-align-center">
						<label for="mobile" class="w3-myfont-bold">Mobile Number</label>
						<input type="text" class="form-control input-style" name="mobile" placeholder="Mobile Number">
					</div>
					<div class="form-group text-align-center">
						<input type="submit" name="otp_login" class="btn btn-primary button-style w3-myfont" value="Proceed">
					</div>
				</form>
				<div class="row login-page-block-title">
					<div class="col-md-12">
						<h3 class="text-align-center w3-myfont text">OR</h3>
					</div>
				</div>-->
				<br>
				<div class="row login-page-block-title">
					<div class="col-md-12">
						<h3 class="text-align-center w3-myfont"><u>Username-Password Login</u></h3>
					</div>
				</div>
				<div class="row login-page-block-title">
					<div class="col-md-12">
						*{alert-msg}*
					</div>
				</div>
				<form method="POST" action="" enctype="multipart/form-data">
					<div class="form-group text-align-center">
						<label for="email" class="w3-myfont-bold">Username</label>
						<input type="text" class="form-control input-style" id="email" name="email" placeholder="Enter your email">
					</div>
					<div class="form-group text-align-center">
						<label for="password" class="w3-myfont-bold">Password</label>
						<input type="password" class="form-control input-style" placeholder="Enter your password" id="password" name="password">
					</div>
					<div class="form-group text-align-center">
						<input type="submit" name="general_login" class="btn btn-primary button-style w3-myfont" value="Login">
					</div>
				</form>
				<br>
				<div class="row">
					<div class="col-md-12 text-align-center login-text">
						Forget Password? Please click <a href="*{ForgotPassword_link}*">here</a> to retrieve password.<br>
						Not a member yet? Please <a href="*{register_link}*">Register</a>.
					</div>
				</div>
			</div>
			<div class="col-md-5 style-5 setion-border-bottom" style="padding-left: 0px;">
				<img src="*{ASSET_LINK}*images/login_bg.png" style="width: 100%;">
			</div>
		</div>
		</div>