</div>
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="*{BASE_URL}*"><img src="*{ASSET_LINK}*/images/logo1.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Winon11 is a brainchild of Syncxini Infosystem. A fantasy league for stock market enthusiasts who are willing to participate and win big.</p>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-8 col-lg-8 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="" method="post" id="subscribe">
                                    <input type="text" name="email" placeholder="Email Address">
                                    <button name="emailSubmit" type="submit"><i class="fa fa-telegram"></i></button>
                                    *{subscription_message}*
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
					<div class="col-xl-4 col-md-4 mb-30">
							<div class="single-cta">
								
								<div class="cta-text">
									<div class="footer-widget-heading">
                                        <h3>Contact Us</h3>
                                    </div>
									<i class="fa fa-map"></i>
									<span>Address:53 Aswini Nagar,Regent Park,<br>
										
										Kolkata 700040,	West Bengal, India.
									</span><br><br>
									<i class="fa fa-phone"></i><span>Call us:+91 9477126436</span><br><br>
									<i class="fa fa-envelope-open"></i><span>Mail-us:helpdesk@winon11.com</span>
								</div>
							</div>
						</div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
								<li><a href="index.php">Home</a></li>
                                <li><a href="about_us.php">About Us</a></li>
                                <li><a href="contact_us.php">Contact Us</a></li>
								<li><a href="myAccount.php">My Account</a></li>
								<li><a href="game.php">Game</a></li>
                                <li><a href="terms.php">Terms & Conditions</a></li>
                                <li><a href="privacy.php">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-4 col-md-6 mb-30">
						<div class="footer-social-icon">
							<span>Follow us</span>
							<!--<a href="" target="_blank"><i class="fa fa-facebook"></i></a>-->
							<a href="https://twitter.com/WINON_11" target="_blank"><i class="fa fa-twitter"></i></a>
							<!--<a href="javascript:void(0);" target="_blank"><i class="fa fa-google-plus"></i></a>-->
							<a href="https://www.youtube.com/channel/UCN846mB3S5XP9joDwFKjnzA" target="_blank"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
                    
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>© Copyright 2020 <a href="*{BASE_URL}*">WinOn11</a>. All rights reserved.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="*{ASSET_LINK}*js/wow.min.js"></script>
	<script src="*{ASSET_LINK}*js/custom.js"></script>
	<script src="*{ASSET_LINK}*js/jquery.dataTables.min.js"></script>
	<script src="*{ASSET_LINK}*js/dataTables.bootstrap4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	  $( function() {
		$( "#accordion" ).accordion();
	  } );
	</script>
	<script>
		$(document).ready(function() {
			$('#example').DataTable({
				searching: false,
				sorting: false
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", (event) => {
			*{session_storage}*
		});
		var company_count = 0;
		var company_point_count = 0;
		var rem_point = 100;
		var sel = [];
		function selectDeselectCompany(companyId){
			var present = 0;
			for(var i=0;i<sel.length;i++){
				if(sel[i]==companyId){
					present = 1;
				}
			}	
			
			if(present==0){
				if(company_count>10){
					alert('You can select 11 companies in your team.');
					document.getElementById("comapany-"+companyId).checked=false;
					return false;
				}
				var companyPoint1 = document.getElementById("comapany-"+companyId).getAttribute("data-company-point");
				if(rem_point<companyPoint1){
					alert('You don\'t have sufficient points to select this company in your team.');
					document.getElementById("comapany-"+companyId).checked=false;
					return false;
				}
			}
			
			var checked = document.getElementById("comapany-"+companyId).checked;
			if(checked==true){//company select
				sel.push(companyId);
				var zoneId = document.getElementById("comapany-"+companyId).getAttribute("data-company-zoneid");
				var companyZoneName = document.getElementById("comapany-"+companyId).getAttribute("data-company-zonename");
				var companyName = document.getElementById("comapany-"+companyId).getAttribute("data-company-name");
				var companyPoint = document.getElementById("comapany-"+companyId).getAttribute("data-company-point");
				var zoneContent = document.getElementById("zone-"+zoneId).innerHTML;
				if(zoneContent=='No companies selected.'){
					document.getElementById("zone-"+zoneId).innerHTML = '<div class="col-lg-6" id="companysel-'+companyId+'" style="margin-bottom: 10px;"><a href="javascript:void(0);" class="genric-btn primary circle">'+companyName+'<span style="color: red;">('+companyPoint+')</span></a></div>';
				}else{
					document.getElementById("zone-"+zoneId).innerHTML = zoneContent+'<div class="col-lg-6" id="companysel-'+companyId+'" style="margin-bottom: 10px;"><a href="javascript:void(0);" class="genric-btn primary circle">'+companyName+'<span style="color: red;">('+companyPoint+')</span></a></div>';
				}
				var company_selectContent = document.getElementById("company_select").innerHTML;
				document.getElementById("company_select").innerHTML = company_selectContent+'<input type="hidden" id="comsec-'+companyId+'" name="company[]" value="'+companyId+'|'+companyName+'|'+zoneId+'|'+companyZoneName+'|'+companyPoint+'">';
				company_point_count = parseFloat(company_point_count) + parseFloat(companyPoint);
				rem_point = parseFloat(rem_point)-parseFloat(companyPoint);
				document.getElementById("companyPoints").innerHTML = rem_point;
				company_count = company_count + 1;
				document.getElementById("companyCount").innerHTML = company_count+' out of 11';
			}else{//company de-select
				var sel1 = [];
				for(var i=0;i<sel.length;i++){
					if(sel[i]!=companyId){
						sel1.push(sel[i]);
					}
				}
				
				sel = sel1;
				document.getElementById("companysel-"+companyId).remove();
				var zoneId = document.getElementById("comapany-"+companyId).getAttribute("data-company-zoneid");
				var companyPoint = document.getElementById("comapany-"+companyId).getAttribute("data-company-point");
				var zoneContent = document.getElementById("zone-"+zoneId).innerHTML;
				if(zoneContent==''){
					document.getElementById("zone-"+zoneId).innerHTML='No companies selected.';
				}
				document.getElementById("comsec-"+companyId).remove();
				company_point_count = parseFloat(company_point_count) - parseFloat(companyPoint);
				rem_point = parseFloat(rem_point)+parseFloat(companyPoint);
				document.getElementById("companyPoints").innerHTML = rem_point;
				company_count = company_count - 1;
				document.getElementById("companyCount").innerHTML = company_count+' out of 11';
			}
		}
		function validateCompanySelectForm() {
		  if (company_count != 11) {
			alert("Total number of companies selected in a team must be 11.");
			return false;
		  }
		  if(company_point_count > 100){
			alert("Sum of selected company points can't be greater than 100.");
			return false;
		  }
		  
		  var zones = document.forms["CompanySelectForm"]["zones"].value;
		  var zone_arr = zones.split('|');
		  
		  for(var i=0;i<zone_arr.length;i++){
			var zoneContent = document.getElementById("zone-"+zone_arr[i]).innerHTML;
			if(zoneContent=='No companies selected.'){
				alert("Please select at least one company from each zone.");
				return false;
			}
		  }
		}
	</script>
	<script>
	    function validateFloatKeyPress(el, evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            var number = el.value.split('.');
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            //just one dot
            if(number.length>1 && charCode == 46){
                 return false;
            }
            //get the carat position
            var caratPos = getSelectionStart(el);
            var dotPos = el.value.indexOf(".");
            if( caratPos > dotPos && dotPos>-1 && (number[1].length > 1)){
                return false;
            }
            return true;
        }
        
        //thanks: http://javascript.nwbox.com/cursor_position/
        function getSelectionStart(o) {
        	if (o.createTextRange) {
        		var r = document.selection.createRange().duplicate()
        		r.moveEnd('character', o.value.length)
        		if (r.text == '') return o.value.length
        		return o.value.lastIndexOf(r.text)
        	} else return o.selectionStart
        }
	</script>
	<script type="text/javascript">

        $(document).ready(function () {
    
            //Disable full page
    
            $("body").on("contextmenu",function(e){
    
                alert("right click functionality is disabled for this page.");
    
                return false;
    
            });        
    
        });
    
     </script>
</body>

</html>