<div class="banner" style="background-image: url(assets/images/about-banner.png);"></div>
<div class="container-fluid w3-myfont">

		<!--How to play -->
		<section class="how-to-play">
			<div class="content-box">
				<div class="container play-technique">
					<div class="row row-play-item">
						<div class="col-md-6">
							<div class="strategy-item">
								<div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
									<h3 class="w3-myfont-imp">About WinOn11</h3>
								</div>
								<div class="content-title-underline wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".3s"></div>
								<div class="play-item-content wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									<p>Winon11 is a brainchild of Syncxini Infosystem. A fantasy league for stock market enthusiasts who are willing to participate and win big. We try to provide distinct competition to engange our fans with this revolutionary game mode. Our team of experts work round the clock to implement better and sophisticated concepts to enhance the experience of our users and form a community of fans who passionately participate in the league.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 video wow animated fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
							<div class="strategy-item">
								<img class="img-width" src="*{ASSET_LINK}*/images/about.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
			<!--Game Strategy -->
	

		<!--Download app-->

		<section class="download-app">
			<div class="content-box">
				<div class="container">
					<div class="row row-play-item">
					    <div class="col-md-6 video wow animated fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
							<div class="strategy-item">
								<img class="img-width" src="*{ASSET_LINK}*/images/download.jpg">
							</div>
						</div>
						<div class="col-md-6">
							<div class="strategy-item">
								<div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
									<h3 class="w3-myfont-imp">Download App </h3>
								</div>
								<div class="content-title-underline wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".3s"></div>
								<div class="play-item-content wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									<p>Winon11 is a brainchild of Syncxini Infosystem. A fantasy league for stock market enthusiasts who are willing to participate and win big.<br>
									    So, Download the App for your selected version of your Android or IOS device, Install it, then play and win big.</p>

								</div>
								<div class="row social-img-size">
									<div class="col-md-12 top-buffer">
										<a href="#"><img src="*{ASSET_LINK}*/images/android.jpg" class="rounded img-fluid"></a>
										<a href="#"><img src="*{ASSET_LINK}*/images/ios.png" class="rounded img-fluid"></a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
 