<!--home-->
	<div class="container-fluid w3-myfont">
		<section class="home">
			<div class="home-cover bg-parallex wow animated fadeIn">
				<div class="home-content-box">
					<div class="home-content-box-inner">
						<div class="home-heading wow animated zoomIn">
							<h3 class="w3-myfont-imp">Welcome to WinOn11</h3>
							<h2 class="w3-myfont-imp">Choose the companies and start making money<br> You can play any number of games by altering the team combinations.</h2>
						</div>
						<div class="home-btn wow animated zoomIn w3-myfont-imp">
							<a class="btn btn-lg btn-general btn-white" href="*{login_link}*" role="button" title="Get Started">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</section>

	
		<!--Game Strategy -->
		
		<section class="how-to-play">
			<div class="content-box">
				<div class="container play-technique">
					<div class="row row-play-item">
						<div class="col-md-12">
							<div class="strategy-item">
								<div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
									<h3 class="w3-myfont-imp">ABOUT WINON11</h3>
								</div>
								<div class="content-title-underline wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".3s"></div>
								<div class="play-item-content wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									<p><p>Winon11 is a brainchild of Syncxini Infosystem. A fantasy league for stock market enthusiasts who are willing to participate and win big. We try to provide distinct competition to engange our fans with this revolutionary game mode. Our team of experts work round the clock to implement better and sophisticated concepts to enhance the experience of our users and form a community of fans who passionately participate in the league.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--Contact Section-->
		
		<section class="strategy">
			<div class="content-box">
				<div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
					<h3 class="w3-myfont-imp"> How To Play </h3>
					<div class="content-title-underline"></div>
				</div>
				<div class="container">
					<div class="row row-strategy-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
						<div class="col-md-4">
							<div class="strategy-item">
								<div class="strategy-item-icon">
									<i class="fa-stack-3x">1</i>
								</div>
								<div class="strategy-item-title">
									<h3 class="w3-myfont-imp">Resgister<br> Yourself</h3>
								</div>
								<div class="strategy-item-content">
									<a href="javascript:void(0);" target="_blank">See demo</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="strategy-item">
								<div class="strategy-item-icon">
									<i class="fa-stack-3x">2</i>
								</div>
								<div class="strategy-item-title">
									<h3 class="w3-myfont-imp">Create<br>Your Team And Participate</h3>
								</div>
								<div class="strategy-item-content">
									<a href="javascript:void(0);" target="_blank">See demo</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="strategy-item">
								<div class="strategy-item-icon">
									<i class="fa-stack-3x">3</i>
								</div>
								<div class="strategy-item-title">
									<h3 class="w3-myfont-imp">Contest<br>Ranking & Wining</h3>
								</div>
								<div class="strategy-item-content">
									<a href="javascript:void(0);" target="_blank">See demo</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>




		<!--How to play -->
		<div class="row contact">
			<div class="col-md-12">
				<div class="contact-right">
					<h3 class="wow animated fadeInDown w3-myfont-imp" data-wow-duration="1s" data-wow-delay=".3s">Contact Us</h3>
					<form action="index.php" class="wow animated fadeInDown" method="post" data-wow-duration="1s" data-wow-delay=".3s">
						<div class="form-group text-align-center"></div>
							*{alert-msg}*
							</div>
							<div class="form-group text-align-center">
								<input type="text" class="form-control input-style" name="firstname" placeholder="First Name" value="*{firstName}*">
							</div>
							<div class="form-group text-align-center">
								<input type="text" class="form-control input-style" name="lastname" placeholder="Last Name" value="*{lastName}*">
							</div>
							<div class="form-group text-align-center">
								<input type="email" class="form-control input-style" name="email" placeholder="Email" value="*{email}*">
							</div>
							<div class="form-group text-align-center">
								<input type="text" class="form-control input-style" name="phone" placeholder="Contact Number" value="*{phone}*">
							</div>
							<div class="form-group text-align-center">
								<textarea rows=3 class="form-control input-style" name="message" placeholder="Message" value="*{message}*"></textarea>
							</div>
							<div class="contact-btn wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
								<input type="submit" class="btn btn-lg btn-general btn-blue" name="submit" value="Send"></a>
							</div>
					</form>
				</div>
			</div>
		</div>