<section class="generic-banner elements-banner relative">
	<div class="section-top-border">
		<div class="row">
			<div class="col-lg-12">
				<blockquote class="generic-blockquote">	
					<h3 class="mb-30">WinOn11</h3>
					<p>WinOn11 is the flagship brand of WinOn11 Private Limited ("WinOn11").</p>
				</blockquote>
				<blockquote class="generic-blockquote">	
					<h3 class="mb-30">Usage of WinOn11</h3>		
					
					<ol class="ordered-list">
						<li class="ordered-list"><span><span>Restrict, suspend, or terminate any User's access to all or any part of WinOn11 or WinOn11 Platform Services</span></li></span>
						<li class="ordered-list"><span><span>Change, suspend, or discontinue all or any part of the WinOn11 Platform Services</span></li></span>
						<li class="ordered-list"><span><span>Reject, move, or remove any material that may be submitted by a User</span></li></span>
						<li class="ordered-list"><span><span>Move or remove any content that is available on WinOn11 Platform</span></li></span>
						<li class="ordered-list"><span><span>Deactivate or delete a User's account and all related information and files on the account</span></li></span>
						<li class="ordered-list"><span><span>Offer discounts to its users in form it deems fit ("<strong>Cash Bonus</strong>"). All such discounts shall be credited in a separate account called as Cash Bonus Account.</span></li></span>
						<li class="ordered-list"><span><span>Revise or make additions and/or deletions to the roster of players available for selection in a Contest on account of revisions to the roster of players involved in the relevant Sports Event</span></li></span>
					</ol>
			</div>
		</div>
	</div>
</section>