<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Title to webpage-->
	<title>WinOn11</title>


	<!--Google fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">


	<!--CSS files-->
	<link rel="stylesheet" href="*{ASSET_LINK}*css/bootstrap.min.css">
	<link rel="stylesheet" href="*{ASSET_LINK}*css/animate.min.css">
	<link rel="stylesheet" href="*{ASSET_LINK}*css/style.css">
	<link rel="shortcut icon" href="*{ASSET_LINK}*images/logo.png">
	<link rel="stylesheet" href="*{ASSET_LINK}*css/menu.css">
	<link rel="stylesheet" href="*{ASSET_LINK}*css/custom.css">
	<link rel="stylesheet" href="*{ASSET_LINK}*css/scrollbar.css">
	<!--<link rel="stylesheet" href="*{ASSET_LINK}*css/socialicons.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="*{ASSET_LINK}*css/dataTables.bootstrap4.min.css">

</head>

<body class="w3-myfont">

	<header class="topnav" id="myTopnav">
        <a class="navbar-brand" href="index.php"><img src="*{ASSET_LINK}*/images/logo1.png"></a>
        <div class="navlist" id="navlist">
            <a class="cursor0" href="#home">&nbsp;</a>
            <a class="navoption *{active_status}*" href="index.php">Home</a>
            <a class="navoption *{active_status_about}*" href="about_us.php">About us</a>
            <a class="navoption *{active_status_contact}*" href="contact_us.php">Contact us</a>
            <a class="navoption *{active_status_register}*" href="register.php">Register</a>
            <a class="navoption *{active_status_login}*" href="login.php">Login</a>
            <a href="javascript:void(0);" class="icon" id="hamburger">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>