/*=====================================================================
Default values
Font famiy: Roboto Condensed , sans-serif
colors:
Gradient of Caribbean Green(#15c58ba6) &  Acid Green(#B7B91A): Botton,background,icons,links,line
Blue bayoux(#64707b) :Headings
Steel grey(#41464b): Paragraphs
White(#fff) : text with black backgrounds
black(#000)
=====================================================================*/
/*=====================================================================
General css
=====================================================================*/
html,
body {
	height: 100%;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	background: linear-gradient(to left, #f1f34dad , #15c58b73);
}

p {
	color: #64707b;
	font-weight: 600;
	font-size: 16px;

}

h3 {
	
	text-transform: uppercase;
}


/*=====================================================================
							home section
=====================================================================*/
.home {
	height: 100%;
}

.home-cover {
	height: 95%;
	background-image: url(../images/stock-money.jpg);
}

.home-content-box {
	width: 100%;
	height: 100%;
	display: table;
	background-color: #0f7b2730;
}



.home-content-box-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

}

.home-heading h3 {
	color: antiquewhite;
	font-size: 50px;
	font-weight: 700;
	margin: 20px 0 20px 0;
	text-transform: uppercase;
}

.home-heading h2 {
	color: antiquewhite;
	font-size: 20px;
	font-weight: 400;
}

/*=====================================================================
							Parallex effect
=====================================================================*/
.bg-parallex {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*parallex effect*/
	background-attachment: fixed;
}


/*=====================================================================
							Animation
=====================================================================*/

.home-cover {
	animation-delay: .1s;
	animation-duration: .5s;
}

.home-heading {
	animation-delay: .5s;
	animation-duration: .5s;
}

.home-btn {
	animation-delay: 1s;
	animation-duration: .5s;
}





/*=====================================================================
							Button
=====================================================================*/
.home-btn {
	padding: 20px 10px 20px 20px;
}

.btn-general {
	border-width: 2px;
	border-radius: 5px;
	padding: 12px 26px 12px 26px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;

}

.btn-white {
	border-color: #15c58ba6;
	color: aliceblue;
	background-color: #15c58ba6;
}

.btn-white:hover,
.btn-white:focus {
	background-color: aquamarine;
	color: #41464b;
	border-color: aquamarine;
}

.btn-blue {
	border-color: #15c58ba6;
	color: aliceblue;
	background-color: #15c58ba6;
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: aquamarine;
	color: #B7B91A;
	border-color: #15c58ba6;
}

/*=====================================================================
							Content-Box(Generic)
=====================================================================*/

.content-box {
	padding: 40px 0 60px 0;
}

.content-title h3 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 30px 0;
	color: #64707b;
	font-family: sans-serif;
}

.content-title-underline {
	width: 30px;
	height: 3px;
	background-color: #15c58ba6;
	margin: 0 auto 30px auto;
}

/*=====================================================================
							Game strategy
=====================================================================*/

.row-strategy-item {
	background-color: #2c924b2e;
}

.strategy-item {
	padding: 20px 0 20px 15px;
	margin-bottom: 20px;
	cursor: pointer;

}

@media only screen and (min-width: 600px) {
	.strategy-item {
		padding: 20px 0 20px 0;
	}
}

.strategy-item-icon i {
	color: #B7B91A;
	float: left;
	padding: 0 20px;
	font-family: cursive;
	font-size: xxx-large;
	width: 75px;
	height: 75px;
	font-weight: bolder;
	margin-left: 25px;
	text-align: center;
}

.strategy-item:hover .strategy-item-icon i {
	color: #fff;
	background-color: #B7B91A;
}

.strategy-item-title h3 {
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 10px 0;
	font-family: sans-serif;

}

@media only screen and (min-width: 600px) {
	.strategy-item-title h3 {
		font-size: 17px;
	}
}

@media only screen and (min-width: 600px) {
	.strategy-item-content p {
		margin: 0;
		font-family: cursive;
		float: left;
	}
}

.strategy-item-content p {

	font-family: cursive;
}

/*=====================================================================
							How to play
=====================================================================*/

.play-item-title {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 10px 0;
	font-family: sans-serif;
}

.play-item-content p {
	font-size: 18px;
	font-weight: 600;
	font-family: sans-serif;
	text-align: justify;
	padding-top: 20px;
	padding-right: 70px;
}

.play-technique {
	padding-top: 35px;
}

.how-to-play .content-title-underline {
	float: left;
	margin-bottom: 5px;
}

.how-to-play .content-title h3 {
	text-align: left;
}
.download-app .content-title-underline {
	float: left;
	margin-bottom: 5px;
}

.download-app .content-title h3 {
	text-align: left;
}

.video {
	width: 100%;
	height: 100%;
}

/*=====================================================================
							About section
=====================================================================
about {
	padding-top: 70px;
}

#about-bg-diagonal {
	width: 55%;
	height: 340px;
	float: right;
	background-image: url(../images/stock-money.jpg);
	border-radius: 189px;
	margin-right: 25px;
	margin-top: 50px;
}

#about-content-box {
	float: left;
	height: 470px;
}

#about-content-box-ouetr {
	width: 100%;
	height: 100%;
	display: table;
	margin-left: 96px;
}

#about-content-box-inner {
	display: table-cell;
	vertical-align: middle;
}

#about .content-title h3 {
	text-align: left;
	margin: 0 0 0 20px;
}

#about .content-title-underline {
	margin: 10px 0 30px 20px;
}

#about-desc p {
	margin: 0 0 25px 20px;
	font-size: larger;
	font-family: roboto;
	text-align: justify;
}

#about-btn {
	margin: 5px 0 0 20px;
}

@media only screen and (max-width: 600px) {
	#about-bg-diagonal {

		border-radius: 49px;
		float: left;
	}
}

@media only screen and (min-width: 600px) {
	#about-content-box-ouetr {
		margin-left: 0;
		margin-top: 39px;
		margin-top: 58px;
	}
}*/

/*--------------Social--------------*/

.social-list {
	padding-left: 0;
}

.social-list li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
}

.social-icon i {
	font-size: 17px;
	padding: 3px;

}

.icon-gray i {
	color: aqua;
}

social-icon i hover: {
	color: blue;
}

/*--------------Download App--------------*/
.download-app .social-img-size {
	margin: 0;
}

.download-app .top-buffer {
	margin-top: 20px;
	text-align: left;
	padding-left: 0;
}

/*--------------Contact--------------*/

.contact {
	padding: 0px 0px 0px 0px;
}
.contact-heading h3{
	text-align: center;
    color: #1b33488a;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 5px 5px 5px 5px;
	
}
.map{
	padding:10px 50px 10px 50px;
	
}
@media only screen and (max-width: 600px) {
	.map{
	padding:5px 10px 5px 10px;
}
}
.contact-right h3 {
	text-align: center;
	padding-bottom: 20px;
	color: #052d509e;
	font-size: -webkit-xxx-large;
	font-family: roboto;
	font-weight: 600;
}

.contact-left h3 {
	color: #052d509e;
	font-size: -webkit-xxx-large;
	font-family: roboto;
	font-weight: 600;
}


.contact-btn {
	text-align: center;
}

.contact {
	background-color: #8fab9a94;
	margin: 0 0 12px 0;
	padding: 10px 10px 10px 20px;

}

/*--FOoter----*/

.footer-list img {
	margin-left: 514px;

}

.footer-list {
	padding-top: 45px;
	padding-right: 35px;
}

.footer-list ul {
	float: right;

}



.footer-menu li {
	font-size: 20px;
	list-style: none;
	display: grid;
	padding-left: 5px;

}

.footer-menu li a {
	color: white;
}

.footer-menu p {
	padding-top: 5px;
	font-size: 25px;
	font-family: roboto;
	color: azure;
	font-weight: 600
}


/*-------------Content Page------------------*/
.left{
	float:left;
	margin-left: 10px;
}
.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #3636983b;
    border-left: 2px solid #3636983b;
	    margin: 3px 3px 3px 3px;
}

blockquote {
    margin: 0 0 0.5rem;
}
.heading h1{
	margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
	color: #116c4cb8;
    font-size: 35px;
    font-weight: 600;
    font-family: roboto-condensed;
    /* font: icon; */
    font-family: cursive;
}
.heading h2{
	margin: 33px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    color: #464a0a6b;
    font-size: 25px;
    font-weight: 500;
    font-family: roboto-condensed;
    /* font: icon; */
    font-family: cursive;
}

.content h1{
	margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
	color: #116c4cb8;
    font-size: 35px;
    font-weight: 600;
    font-family: roboto-condensed;
    /* font: icon; */
    font-family: cursive;
	text-transform:uppercase;
}
.content h2{
	margin: 33px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    color: #464a0a6b;
    font-size: 25px;
    font-weight: 500;
    font-family: roboto-condensed;
    /* font: icon; */
    font-family: cursive;
}
.content h3{
	margin: 33px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
	color: #2a58458c;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 500;
}
.content p{
	margin: 33px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
	color: #060a097a;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}

.content strong {
	font-weight: 900;
    font-size: 23px;
    font-family: monospace;
    color: #1f1c0bbd;
}
.content li{
	margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    color: #1f2322b8;
    font-size: 15px;
    font-weight: 700;
    font-family: roboto;
    text-transform: uppercase;
    display: -webkit-box;
}

.w3-myfont-imp{
	font-family: "Comic Sans MS", cursive, sans-serif !important;
}

/*Prize Break Uo & Leaderboard */

.nav-tabs {
        display: inline-flex;
        width: 100%;
        overflow-x: auto;
        border-bottom: 2px solid #DDD;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox}
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            border-width: 0;
        }
        .nav-tabs>li>a {
            border: none;
            color: #666;
        }
        .nav-tabs>li.active>a,
        .nav-tabs>li>a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }
        .nav-tabs>li>a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: 1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }
        .nav-tabs>li.active>a::after,
        .nav-tabs>li:hover>a::after {
            transform: scale(1);  
        }
        .tab-nav>li>a::after {
            background: #21527d none repeat scroll 0% 0%;
            color: #fff;
        }
        .tab-pane {
            padding: 15px 0;
        }
        .tab-content {
            padding: 20px
        }

        .nav-tabs::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
        .card {
            background: #FFF none repeat scroll 0% 0%;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            margin-bottom: 30px;
        }
       .nav-tabs {
        display: inline-flex;
        width: 100%;
        overflow-x: auto;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 20px;
        border-bottom: 10px solid #c3cc407a;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox}
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            border-width: 0;
        }
        .nav-tabs>li>a {
            border: none;
            color: #c6cc3f;
        }
        .nav-tabs>li.active>a,
        .nav-tabs>li>a:hover {
            border: none;
            color: #ffffff !important;
            background: transparent;
        }
        .nav-tabs>li>a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: 1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }
        .nav-tabs>li.active>a::after,
        .nav-tabs>li:hover>a::after {
            transform: scale(1);  
        }
        .tab-nav>li>a::after {
            background: #21527d none repeat scroll 0% 0%;
            color: #fff;
        }
        .tab-pane {
            padding: 15px 0;
        }
        .tab-content {
            padding: 20px
        }

        .nav-tabs::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
		
        .card{
		margin-top: 30px;
		background: #0a344657 none repeat scroll 0% 0%;
		box-shadow: 0px 1px 20px 3px rgb(37, 86, 66);
		margin-bottom: 30px;
        }
      
		.nav-item-style-data{
		margin: 5px 5px 5px 0px;
		text-align: center;
		text-decoration: blink;
		font-size: 20px;
		font-family: roboto-condensed;
		font-weight: 600;
		background-color: #116c4c6e;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 10px;
		}

		.nav-item-style-data:hover{
			background-color: #308ccea6;
		}
		
		<!-------Table------------>
		
		.box-body {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			padding: 10px;
		}
		.box-body>.table {
			margin-bottom: 0;
		}
		.table-bordered {
			border: 1px solid #f4f4f4;
		}
		.table-bordered {
			border: 1px solid #ddd;
		}
		.table {
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
		}
		table {
			background-color: transparent;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
			border: 1px solid #f4f4f4;
		}
		.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
			border-top: 1px solid #f4f4f4;
		}
		.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
			border: 1px solid #ddd;
		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
			padding: 8px;
			line-height: 1.42857143;
			vertical-align: top;
















